{% extends "base.html" %}
{% block title %}Book Journal{% endblock %}
{% block content %}
 
<h1 style="margin-top: 50px;" class="ui center aligned header">Book Journal</h1>

{% if user %}
<form class="ui form" action="/add" method="post">
    <div>
        <label for="title">Title</label>
        <input type="text" name="title" placeholder="Enter book title...">
        <label for="author">Author</label>
        <input type="text" name="author" placeholder="Enter author...">
        <label for="rating">Rating</label>
        <input type="number" name="rating" value="5" max="5" min="1">
        <label for="dateRead">Date Read</label>
        <input type="date" name="dateRead">
        <label for="comments">Comments</label>
        <textarea name="comments" rows="4" placeholder="Comments..."></textarea>
        <br>
        <button class="ui blue button" type="submit">Add</button>
    </div>
</form>

{% for entry in journalEntries %}
    <div class="ui segment">
        <p><b>"{{entry.title}}"</b> by {{entry.author}}, {{entry.rating}}/5 (read {{entry.dateRead}})</p>
        <a href="/delete?id={{entry.id}}&userid={{entry.userid}}">Delete</a>
    </div>
{% endfor %}

<li><a href="/logout">Logout</a></li>

{% else %}
<li><a href="{{ auth_url }}">Sign In</a></li>
{% endif %}

{% endblock %}