<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Journal</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body>
    
    <div class="ui container">
    <h1 style="margin-top: 50px;" class="ui center aligned header">Book Journal</h1>

    <form class="ui form" action="/add" method="post">
        <div>
            <label for="title">Title</label>
            <input type="text" name="title" placeholder="Enter book title...">
            <label for="author">Author</label>
            <input type="text" name="author" placeholder="Enter author...">
            <label for="rating">Rating</label>
            <input type="number" name="rating" value="5" max="5" min="1">
            <label for="dateRead">Date Read</label>
            <input type="date" name="dateRead">
            <br>
            <button class="ui blue button" type="submit">Add</button>
        </div>
    </form>

    {% for entry in journalEntries %}
        <div class="ui segment">
            <p><b>"{{entry.title}}"</b> by {{entry.author}}, {{entry.rating}}/5 (read {{entry.dateRead}})</p>
            <a href="/delete?id={{entry.id}}&userid={{entry.userid}}">Delete</a>
        </div>
    {% endfor %}
</div>
</body>
</html>